<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">maNga Kimdir?</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    Manga (aynı zamanda maNga olarak da stilize edilmiştir ), müziği ağırlıklı olarak Anadolu melodilerinin elektronik unsurlarla kaynaşmasından oluşan bir Türk rock grubudur.  Eurovision 2010 ' da We Could Be The Same şarkısı ile Türkiye'yi temsil ederek 2. lik kazanmışlardır.
                
                
                </p>

            </div>
        </div>
    </div>
</section>
