<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">UEFA Şampiyonlar Ligi</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    UEFA Şampiyonlar Ligi veya kısa kullanımıyla Şampiyonlar Ligi, Avrupa Futbol Federasyonları Birliği (UEFA) tarafından her yıl düzenlenen ve UEFA'ya bağlı birinci liglerdeki takımların mücadele ettiği uluslararası futbol turnuvası. UEFA üyesi her ülke şampiyonunun (bazı ülkelerde ilk birkaç sırada yer alan takımların) katıldığı organizasyon, Avrupa'daki en prestijli turnuva konumundadır.
                
                
                </p>

            </div>
        </div>
    </div>
</section>
