<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Konuşanlarımız</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://twitter.com/Temel_Kotil?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                    <img src="img/konusanlar/indir2.jpeg" class="img-responsive" alt="">
                    <h3>Gianni Infantino</h3>
                    <p class="text-muted">FİFA Başkanı </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://twitter.com/Selcuk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                    <img src="img/konusanlar/indir1.jpg" class="img-responsive" alt="">
                    <h3>Aleksander Čeferin</h3>
                    <p class="text-muted">UEFA Başkanı </p>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://twitter.com/halukgorgun" target="_blank">
                    <img src="img/konusanlar/indir.jpeg" class="img-responsive" alt="">
                    <h3>Pierluigi Collina</h3>
                    <p class="text-muted">Eski Hakem</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
